extends ../layout

block content
  .ui.grid.container
    .eight.wide.column
      h3 Profile Information

      form.ui.form(action='/account/profile', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .field
            label Email
            input(type='email', name='email', id='email', value=user.email, autocomplete='email')
        .field
            label Name
            input.form-control(type='text', name='name', id='name', value=user.profile.name, autocomplete='name')
        .field
          label Gender
          .ui.radio.checkbox
              label Male
              input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          br
          .ui.radio.checkbox
              label Female
              input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
            
        .field
            label Location
            input(type='text', name='location', id='location', value=user.profile.location, autocomplete)
        .field
            label Website
            input(type='text', name='website', id='website', value=user.profile.website, autocomplete='url')
        .field
            label Gravatar
            img(src=user.gravatar(), class='profile', width='100', height='100')
        .field
              button.ui.primary.button(type='submit')
                i.fas.fa-pencil-alt.fa-sm
                | Update Profile
        h3 Change Password
      form.ui.form(action='/account/password', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .field
          label New Password
            input.form-control(type='password', name='password', id='password', autocomplete='new-password')
        .field
          label Confirm Password
            input(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
        .field
            button.ui.button(type='submit')
              i.fas.fa-lock.fa-sm
              | Change Password
        h3.ui.header Delete Account

      form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
        .field
          p You can delete your account, but keep in mind this action is irreversible.
          input(type='hidden', name='_csrf', value=_csrf)
          .offset-sm-3.col-md-7.pl-2
            button.ui.negative.button(type='submit')
              i.fas.fa-trash-alt.fa-sm
              | Delete my account
