extends layout

block content
  .container
    .row.mt-5
      .col-md-6
        h5 Start uploading whenever
        form(action="http://localhost:8080/library" method='POST' enctype="multipart/form-data")
          .form-group
            input.form-control(type="file" name="file")
            input(type='hidden', name='_csrf', value=_csrf)
          button.btn.btn-secondary(type="submit" value="Submit") Upload
        br
      .col-md-6
        each file in files
          .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
            .card-header
              h6 #{file.originalname}
            .card-body
              h4.card-title #{file.size} #{file.mimetype}
              p.card-text
                a(href=`${process.env.SITEURL}/f/`+file.shortid).btn.btn-secondary
                  | Download&nbsp;&nbsp;
                a(href=`${process.env.SITEURL}/v/`+file.shortid).btn.btn-info
                  | View
                a(href=`${process.env.SITEURL}/s/`+file.id).btn.btn-info
                  | Share
